.venv
.idea
__pycache__/
*/__pycache__/*
.deploy_backups/
.idea/*
bot_database.db
.env
.env.*
!.env.example
config.json
config.*.json
!config.example.json
credentials.json
venv/
*.swp
*.swo
sage.chat.id,
ystemctl restart final_bot
